<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</link>

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous"></link>


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>




<style>
textarea {
	resize: none;
}
</style>


<!-- Datetime Picker -->

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />


<script src="js/jquery.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/combodate.js"></script>


</head>

<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Event System</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Find Events <span class="sr-only">(current)</span></a></li>
				<li><a th:href="@{/eventlist}">Events</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">.... <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Actions</a></li>
						<li><a href="#">zzzzzzs</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">One more separated link</a></li>

					</ul></li>
			</ul>
			<form class="navbar-form navbar-right">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" />
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>

			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/event}">Create Event</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">User <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a th:href="@{/myevents}">Registered Events</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>



<body>

	<!-- 	<span th:text="' WElcome ' + ${name}"></span> -->

	<form action="#" class="container" th:action="@{/event}"
		th:object="${event}" method="post">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="exampleInputEmail1">Event Name</label> <input
						type="text" class="form-control" id="exampleInputEmail1"
						placeholder="Event Name" th:field="*{eventName}" />
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Event Title</label> <input
						type="text" class="form-control" id="exampleInputPassword1"
						placeholder="Event Title" /> <br /> <label
						for="exampleInputPassword1">Event Short Description</label> <input
						type="text" class="form-control" id="exampleInputPassword1"
						placeholder="Event Short Description"
						th:field="*{shortDescription}" /> <br /> <label
						for="exampleInputPassword1">Location</label> <input type="text"
						class="form-control" id="exampleInputPassword1"
						placeholder="Event Location" th:field="*{location}" />
				</div>



				<!-- 								<div class="form-group"> -->
				<!-- 									<div class="col-sm-6 date"> -->
				<!-- 										<label class="col-sm-6">Date</label> <input -->
				<!-- 											th:field="*{eventDate}" class="form-control" type="date" -->
				<!-- 											id="datepicker" /> -->
				<!-- 									</div> -->
				<!-- 								</div> -->


				<div class="form-group">
					<div class="col-sm-6 date">
						<label class="col-sm-6">Date</label> <input
							th:field="*{eventDate}" class="form-control" type="text"
							id="datepicker" readonly="" />
					</div>
				</div>





				<!-- 				<input type="time" name="usr_time" th:field="*{startHour}"/> -->



				<input type="text" id="time" data-format="HH:mm"
					data-template="HH : mm" name="datetime" th:field="*{startHour}" />

				<!-- 				<input type="datetime-local" name="bdaytime" th:field="*{eventDate}" /> -->



				<button type="submit" class="btn btn-default">Submit</button>
			</div>
			<div class="col-md-6">

				<div class="form-group">
					<label for="exampleInputEmail1">Event Details</label>
					<textarea class="form-control" rows="4" cols="50"
						th:field="*{description}"></textarea>
					<br /> <label for="exampleInputPassword1">Guest Limit</label> <input
						type="text" class="form-control" id="exampleInputPassword1"
						placeholder="Event Location" th:field="*{guestLimit}" />
				</div>

				<div class="container">
					<form>
						<div class="radio">
							<label><input type="radio" name="optradio"
								th:value="free" th:field="*{paidType}" id="free"
								onclick="freeOrPaid()" />Free</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="optradio"
								th:value="paid" th:field="*{paidType}" id="paid"
								onclick="freeOrPaid()" />Paid</label>
								
								<input type="text" id="textt" th:field="*{price}" />
								
						</div>
					</form>
				</div>

				<div class="container">
					<h2>Type of Event</h2>
					<p>Please select the correct one:</p>


					<div class="form-group">
						<label for="sel1">Select list (select one):</label> <select
							class="form-control" id="sel1" th:field="*{eventType}">
							<option th:value="Fun">Fun</option>
							<option th:value="Education">Education</option>
							<option th:value="Concert">Concert</option>
							<option th:value="Music">Music</option>
						</select> <br />

					</div>

				</div>

			</div>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</div>


		<p></p>
	</form>
	<br />
	<br />
	<br />


	<script>
		function freeOrPaid() {
			if (document.getElementById("free").checked == true) {
				document.getElementById("textt").disabled = true;
				document.getElementById("textt").value = 0;
			} else if (document.getElementById("paid").checked == true) {

				document.getElementById('textt').disabled = false
				document.getElementById("textt").value = "";

			}
		}
	</script>


	<!-- jQuery 2.1.4 -->
	<!-- 	<script th:src="@{/js/jQuery-2.1.4.min.js}" -->
	<!-- 		src="../static/js/jQuery-2.1.4.min.js"></script> -->

	<!-- 	<script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="js/combodate.js"></script>



	<script>
		$(function() {
			// 			$("#example1").DataTable();
			$("#datepicker").datepicker();
		});
	</script>

	<script>
		$(function() {
			$('#time').combodate({
				firstItem : 'name', //show 'hour' and 'minute' string at first item of dropdown
				minuteStep : 1

			});
		});
	</script>


	<script>
		$(function() {
			$('#date').combodate();
		});
	</script>


	<!-- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->




</body>

<footer class="container-fluid text-center bg-lightgray">

	<div class="copyrights" style="margin-top: 25px;">
		<p>
			All Rights Reserved <br /> <span>Web Design By: Volkan Dogan</span>
		</p>
		<p>
			<a href="" target="_blank">Linkedin <i
				class="fa fa-linkedin-square" aria-hidden="true"></i> 
			</a>
		</p>
	</div>
</footer>




</html>
