<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
	

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</link>

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>


</head>

<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Event System</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
<!-- 				<li><a href="#">Find Events <span class="sr-only">(current)</span></a></li> -->
				<li><a th:href="@{/eventlist}">Events</a></li>
<!-- 				<li class="dropdown"><a href="#" class="dropdown-toggle" -->
<!-- 					data-toggle="dropdown" role="button" aria-haspopup="true" -->
<!-- 					aria-expanded="false">.... <span class="caret"></span></a> -->
<!-- 					<ul class="dropdown-menu"> -->
<!-- 						<li><a href="#">Actions</a></li> -->
<!-- 						<li><a href="#">zzzzzzs</a></li> -->
<!-- 						<li><a href="#">Something else here</a></li> -->
<!-- 						<li role="separator" class="divider"></li> -->
<!-- 						<li><a href="#">Separated link</a></li> -->
<!-- 						<li role="separator" class="divider"></li> -->
<!-- 						<li><a href="#">One more separated link</a></li> -->

<!-- 					</ul></li> -->
			</ul>
			
			
			<div class="navbar-form navbar-right" >
				<div class="form-group">
					<input  type="text" class="form-control" name="search" id="ssearch" placeholder="Search" />
				</div>
				<button type="submit" class="btn btn-default" onclick="redirect()" >Search</button>
			</div>
			
			

			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/event}">Create Event</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">User <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a th:href="@{/myevents}">Registered Events</a></li>
						<li><a th:href="@{/createdevents}">My Created Events</a></li>
						<li role="separator" class="divider"></li>
						<li><a th:href="@{/logout}">Logout</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>



<body onload="">
	<!-- 	<span th:text="' WElcome ' + ${name}"></span> -->
	<div class="container">
		<h2>Event System</h2>
		<div class="well">All events are listed. Filters can be used and event can be registered by users (login necessary)</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-2" >
				<form>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Actions</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
							
						</ul>
						</li>

						<div id="divucret">
							<h6 class="container">Type Of Cash</h6>
							<div class="checkbox">
								<label><input type="checkbox" class="searchEvent" name="ucret" id="free" value="" />Free</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" class="searchEvent" name="ucret" id="paid" value="" />Paid</label>
							</div>
						</div>
						
						<div id="typeOfEvent">
							<h6 class="container">Type Of Event</h6>
							<div class="radio">
								<label><input type="radio" class="searchEvent" name="typeofevent" id="Music" value="" />Music</label>
							</div>
							<div class="radio">
								<label><input type="radio" class="searchEvent" name="typeofevent" id="Concert" value="" />Concert</label>
							</div>
							<div class="radio">
								<label><input type="radio" class="searchEvent" name="typeofevent" id="Fun" value="" />Fun</label>
							</div>
							<div class="radio">
								<label><input type="radio" class="searchEvent" name="typeofevent" id="Education" value="" />Education</label>
							</div>
							
						</div>
						
						
						
						
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Category <span class="caret"></span></a>
						<ul class="dropdown-menu">

							<li><a href="#">Education</a></li>
							<li><a href="#">Entertainment</a></li>
							<li><a href="#">Sport</a></li>

							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>

						</ul></li>
				</form>
				
			</div>
			<div class="col-md-10 table-responsive">

				<table id="example1" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Event name</th>
							<th>Event Short Description</th>
							<th>Event Description</th>

						</tr>
					</thead>

					<tbody id="eventListDiv">
						<tr th:each="event : ${events}">
							<td><a th:href="@{'/event/'+${event.eventId}}"
								th:text="${event.eventName}"></a></td>
							<td><a href="event" th:text="${event.shortDescription}">Title
							</a></td>
							<td th:text="${event.description}">Text ...</td>
						</tr>

					</tbody>
					<tfoot>
						<tr>
							<th>Event name</th>
							<th>Event Short Description</th>
							<th>Event Description</th>

						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>

	<p style="size: 20px">



		<br />
		<br />
	<div sec:authorize="hasAuthority('user')">Bu Kullanıcın rolü</div>
	<div sec:authorize="hasAuthority('admin')">Burayı admin görür</div>
	<button id="ajax">ajax call</button>
	<button id="clear">clear</button>
	<div id="icerik"></div>
	
	</p>
	<script type="text/javascript">
	// <![CDATA[
	

	//$('#free').prop('checked', false);
		
	    $('.searchEvent').click(function(){
	    	
	    	var id=null;
	    	
	    	if($('input[name=typeofevent]:checked')){
	    	var $radio = $('input[name=typeofevent]:checked');
	    	var updateDay = $radio.val();
	    	id = $radio.attr('id');
	    	}
	    	
	    	
	    	if ($('#free').prop('checked')==true && $('#paid').prop('checked')==false) {
	    		getFilterEvents("free",id);
	    	}
	    	else if($('#free').prop('checked')==false && $('#paid').prop('checked')==true) {
	    		getFilterEvents("paid",id);
	    	}
	    	
	    	else if($('#free').prop('checked')==false && $('#paid').prop('checked')==false)
	    	{	
	    		if(id==null){
	    			getAllEvents();
	    		}
	    		else
	    			{
	    			getFilterEvents(id,null);
	    			}
	    	}
	    	
	    	else if($('#free').prop('checked')==true && $('#paid').prop('checked')==true && id == null) {
	    		getAllEvents();
	    	}
	    	
	    	else if($('#free').prop('checked')==true && $('#paid').prop('checked')==true) {
	    		getFilterEvents(id,null);
	    	}
	    	
	    	else{
	    		getAllEvents();
	    	}
	    	
	    });
	    
	    
// 	    if ($('#'+id).prop('checked')) {
	    
	    function getAllEvents(){
	    	   $.ajax({ 
	  	             type: "GET",
	  	             dataType: "json",
	  	             url: "http://localhost:8081/events",
	  	             success: function(data){     
	  	            	createElements(data);
	  	             }
	  	         });
	    }
	    
		function getFilterEvents(firstFilter,SecondFilter){
			
			if(SecondFilter==null)
				{
				
				 $.ajax({ 
		             type: "GET",
		             dataType: "json",
		             url: "http://localhost:8081/events/"+firstFilter,
		             success: function(data){     
		            	 createElements(data);
		             }
		         });
				
				}
			else
		    $.ajax({ 
	             type: "GET",
	             dataType: "json",
	             url: "http://localhost:8081/events/"+firstFilter+"/"+SecondFilter,
	             success: function(data){     
	            	 createElements(data);
	             }
	         });
	    	
	    }
	    
		
		function createElements(data)
		{
			var eventListDiv = document.getElementById("eventListDiv");
            eventListDiv.innerHTML="";
            
            for (var i in data) {
            	var d = data[i];
            	var tr = document.createElement("tr");
            	var a = document.createElement("a");
                var name = document.createElement("td");
                a.innerText = d.eventName;
                a.setAttribute('href', "http://localhost:8081/event/"+d.eventId);
                name.appendChild(a);
                
                var short_description = document.createElement("td");
                short_description.innerText = d.shortDescription;
               
                
                var description = document.createElement("td");
                description.innerText = d.description;
                
                tr.appendChild(name);
                tr.appendChild(short_description);
                tr.appendChild(description);
                eventListDiv.appendChild(tr);
        	}
			
		}
		
	    
	    $('#clear').click(function(){ 
	    	var icerik = document.getElementById("icerik")
            icerik.innerText = "";
	    });
	    
	    
	    function redirect()
	    {
	    	var value = document.getElementById("ssearch").value;
	    	window.location.href="/q/" + value;
	    }
	    
	    function load()
	    {
	   		 alert("Page is loaded");
	    }
	   
	    
	    
	    
	 // ]]>
	</script>
</body>

		<footer class="container-fluid text-center bg-lightgray">

	<div class="copyrights" style="margin-top: 25px;">
		<p>
			All Rights Reserved <br /> <span>Web Design By: Volkan Dogan</span>
		</p>
		<p>
			<a href="https://www.linkedin.com/in/volkan-do%C4%9Fan-76659b95/" target="_blank">Linkedin<i
				class="fa fa-linkedin-square" aria-hidden="true"></i> 
			</a>
		</p>
	</div>
		</footer>

</html>
